body {
  color: rgb(221, 221, 221);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
}
.card_rgb {
  background: #15151e;
  padding: 20px;
  border-radius: 20px;
  min-width: 120px;
  text-align: center;
}
